body {
    font-family: 'Mukta', sans-serif;
}

header {
    display: inline-block;
    width: 100%;
    height: 100px;
    background-image: linear-gradient(90deg, rgb(125, 168, 204) 0%, rgb(63, 63, 199) 50%, rgb(25, 19, 136) 100%);
    text-align: center;
    color: white;
}

.sidebar {
    width: 280px;
    margin: 0px;
    display: inline-block;
}

.search-container {
    width: 280px;
    margin-left: 0px;
    border-bottom: 1px solid black;
}

#search-input {
    width: 100%;
    height: 20px;
    border-radius: 5px;
    border: 1px solid black;
}

#search-btn {
    width: 102%;
    height: 20px;
    margin-bottom: 20px;
    background-color: rgb(100, 150, 197);
    color: white;
    border-radius: 5px;
    border: 1px solid black;
}

#searched-location button {
    width: 102%
}


.current-weather {
    display: flex;
    float: right;
    margin-right: 50px;
    width: 1500px;
    margin-top: 50px;
}

.search-result {
    width: 1500px;
    border: solid 1px black;
    padding-left: 5px;
}

#city-name {

}

#current-day {

}

.forecast {
    width: 1500px;
    display: flex;
    float: right;
    margin-right: 50px;
    justify-content: space-between;
}

.forecast-box {
    margin-top: 10px;
    border: 1px solid black;
    width: 300px;
    height: 300px;
    padding: 10px;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(130deg, rgb(115, 115, 139) 0%, rgb(89, 89, 163) 50%, rgb(94, 88, 209) 100%);
}

#forecast-date {
    text-align: center;
    margin-top: 0px;
    
}

.weatherclass {
    position: absolute;
}



