body {
    font-family: 'Mukta', sans-serif;
}

header {
    display: inline-block;
    width: 100%;
    height: 100px;
    background-image: linear-gradient(90deg, rgb(125, 168, 204) 0%, rgb(63, 63, 199) 41%, rgb(25, 19, 136) 100%);
    text-align: center;
    color: white;
}

.sidebar {
    width: 280px;
    margin: 0px;
    display: inline-block;
}

.search-container {
    width: 280px;
    margin-left: 10px;
    border-bottom: 1px solid black;
}

#search-input {
    width: 100%;
}

.search-btn {
    width: 100%;
}

.current-weather {
    margin-top: 50px;
}

.search-result {
    border: solid 1px black;
}

#city-name {

}

#current-day {

}

.forecast {
    display: flex;
    justify-content: space-between;
}

.forecast-box {
    border: 1px solid black;
    width: 200px;
    justify-content: space-around;
    padding: 10px;
    color: white;
}



